@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
}

/* Global hidden scrollbar that shows on hover */

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #008ecc;
}

::-webkit-scrollbar-thumb:hover {
  background: #008ecc;
}
