@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
}

/* Global hidden scrollbar that shows on hover */

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #008ecc;
}

::-webkit-scrollbar-thumb:hover {
  background: #008ecc;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.grid-container > li {
  background-color: #efefef;
  padding: 10px;
  font-size: 20px;
  border-radius: 8px;
}

.item9 {
  grid-column: 1 / span 2;
}
.item10 {
  grid-column: 1 / span 2;
}
